/* Define global styles for ALL elements here */

:root {
  /* FYI - Color Palettes are defined in /src/colors.css !! */

  --title-font: 'Special Elite';
  --heading-font: 'Droid Serif';
  --subtitle-font: 'Podkova';
  --body-font: 'Droid Serif';

  /* Root Font Size for determining rem and em values  */
  font-size: min(120%, 3.5vw);
}

@font-face {
  font-family: 'Special Elite';
  src: url('/fonts/special-elite/SpecialElite-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Droid Serif';
  src: url('/fonts/droid-serif/DroidSerif-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Droid Serif';
  src: url('/fonts/droid-serif/DroidSerif-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Droid Serif';
  src: url('/fonts/droid-serif/DroidSerif-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Droid Serif';
  src: url('/fonts/droid-serif/DroidSerif-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/fira-code/FiraCode-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Genty';
  src: url('/fonts/genty/GentyDemo-Regular.otf') format('opentype'),
    url('/fonts/genty/GentyDemo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Podkova';
  src: url('/fonts/podkova/Podkova-VariableFont_wght.ttf');
}

body {
  background-color: var(--secondary-dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* overflow-x: hidden; */
  margin: 0em;
}

main {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 2em auto;
  /* max-width: 50em; */
  width: min(40em, 100vw);
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  font-size: 0.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font), 'Times New Roman', Times, serif;
}

h1 {
  font-size: 3em;
  font: 600 4em var(--heading-font);
  font-style: italic;
  color: var(--primary-color);
  margin: 0.5em;
  text-align: center;
}

.title {
  font-size: 2.5em;
  font-weight: 400;
}

.fundraiser-heading {
  font-size: 3em;
  font: 600 4em var(--heading-font);
  font-style: italic;
  color: var(--primary-color);
  margin: 0.5em;
  text-align: center;
}

h2 {
  font-size: 3em;
  font: 600 4em 'Droid Serif';
  font-style: italic;
  color: var(--primary-color);
  margin: 0;
}

p {
  font: 500 1em var(--body-font);
  color: var(--primary-color);
}

a,
button {
  font-family: var(--body-font);
}

button:focus-visible,
a:focus-visible {
  outline: 5px ridge var(--secondary-accent-color);
}

/* Use this class when you want text to be available to screen readers only */
.visibly-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (prefers-reduced-motion) {
  * {
    transition: none;
    animation: none;
  }
}
