/* Define global styles for ALL elements here */

:root {
  /* Color Palette */
  /* Colors all have a separate 'values' variable, which lets us add opacity */
  /*  - i.e. rgba( var(--primary-values), 0.5) will be the primary color with 50% opacity */
  /*  - a handy vscode extension for this is "Color Highlight" which can be set to highlight
        RGB values without an rgb function */

  --primary-values: 230, 222, 255;
  --primary-color: rgb(var(--primary-values));

  --secondary-values: 37, 77, 86;
  --secondary-color: rgb(var(--secondary-values));

  --background-values: 245, 246, 248;
  --background-color: rgb(var(--background-values));

  --accent-values: 187, 208, 255;
  --accent-color: rgb(var(--accent-values));

  --border-values: 119, 131, 141;
  --border-color: rgb(var(--border-values));

  --box-shadow-values: 101, 117, 153;
  --box-shadow-color: rgb(var(--box-shadow-values));

  --h-shadow-primary-values: 204, 121, 116;
  --h-shadow-primary-color: rgb(var(--h-shadow-primary-values));

  --h-shadow-secondary-values: 39, 128, 148;
  --h-shadow-secondary-color: rgb(var(--h-shadow-secondary-values));

  --text-accent-values: 83, 68, 173;
  --text-accent-color: rgb(var(--text-accent-values));

  --title-font: 'Podkova';
  --body-font: 'Fira Code';

  /* Root Font Size for determining rem and em values  */
  font-size: min(130%, 3vw);
}

@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/fira-code/FiraCode-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Genty';
  src: url('/fonts/genty/GentyDemo-Regular.otf') format('opentype'),
    url('/fonts/genty/GentyDemo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Podkova';
  src: url('/fonts/podkova/Podkova-VariableFont_wght.ttf');
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

main {
  margin: 2em auto;
  max-width: 50em;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  font-size: 0.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font), 'Times New Roman', Times, serif;
}

h1 {
  font-weight: 400;
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

p {
  font: 500 1em var(--body-font);
}

a {
  font-family: var(--body-font);
}
