---
import Head from './Head.astro';
import '../styles/global.css';
import '@fontsource/special-elite';
---

<html lang="en">
  <Head>
    <slot name="head" />
  </Head>
  <header>
    <a href="/" aria-label="Home Page">
      <img
        class="logo"
        src="https://res.cloudinary.com/do-good-collective/image/upload/c_scale,f_auto,q_auto,r_300,w_300/v1656373864/CF76FB1F-E9BC-4BF9-8C79-17427829B2CF_swsup7.png"
        alt="A logo of two hands holding the moon, with the words 'Do Good' above them"
        style={{ width: '10em', height: '10em' }}
      />
    </a>
    <h1>Do Good Collective</h1>
  </header>

  <body>
    <slot />
  </body>

  <footer>
    <div class="copyright">
      <h3>&copy;2022, Do Good Collective</h3>
    </div>
    <ul class="socials">
      <li>
        <a href="https://www.facebook.com/groups/623919239148179">Facebook</a>
      </li>
      <li><a href="https://discord.gg/JDHJSDeJ2H">Discord</a></li>
      <li><a href="https://www.instagram.com/dgc_org/">Instagram</a></li>
    </ul>
  </footer>
</html>
