---
import Head from './Head.astro';
import '../styles/global.css';
import '@fontsource/special-elite';
import '@fontsource/poppins';
import '@fontsource/merriweather/300.css';
import '@fontsource/merriweather/400.css';
import '@fontsource/merriweather/700.css';
---

<html lang="en">
	<Head>
		<slot name="head" />
	</Head>
	<header>
		<a href="/" aria-label="Home Page">
			<img
				class="logo"
				src="/logo.png"
				width="100"
				height="100"
				alt="A logo of two hands holding the moon, with the words 'Do Good' above them"
			/>
		</a>
		<h1>Do Good Collective</h1>
	</header>

	<body>
		<slot />
	</body>

	<footer>
		<div class="copyright">
			<h3>&copy;2022, Do Good Collective</h3>
		</div>
		<ul class="socials">
			<li>
				<a href="https://www.facebook.com/groups/623919239148179"
					>Facebook</a
				>
			</li>
			<li><a href="https://discord.gg/JDHJSDeJ2H">Discord</a></li>
			<li><a href="https://www.instagram.com/dgc_org/">Instagram</a></li>
		</ul>
	</footer>
	<style>
		header {
			display: flex;
			flex-flow: row wrap;
			justify-content: start;
			align-items: center;
			gap: 2rem;
			padding: 2rem min(5vw, 3rem);
		}

		h1 {
			font: 3rem var(--f-display);
			text-transform: lowercase;
			max-width: 20rem;
		}

		img {
			border-radius: 50%;
			max-width: 5rem;
			max-height: 5rem;
			object-fit: contain;
		}
	</style>
</html>
